<div class = "reviewable people">

<h1>People you can Review </h1>
<h2> People who you have baby-sat their pup</h2>
  <% if @requesters != nil %>
    <% @requesters.each do |requester| %>
      <img src = "<%= requester.profile_photo%>" height: "100px" width: "100px"%> - <%= requester.first_name %>
      <% requester.requests.each do |request| %>
        <% if request.responses != [] && request.responses[0]["responder_id"] == @user.id%>
          <img src = "<%= request.photo%>"%><%= link_to "#{request.dog_name}", new_profile_user_review_path(requester, :reviewable_type=>'requester', :request_id => "#{request.id}")%>
        <%end%>
      <%end%>
    <%end%>
  <%end%>
</div>
</br>
</br>
</br>
<h2>People who have babysat your pup</h2>
  <% @responders.each do |responder|%>
    <img src = "<%= responder.profile_photo%>"%> -<%= link_to "#{responder.first_name}", new_profile_user_review_path(responder,:reviewable_type=>'responder', :request_id => "#{responder.responses[0]["request_id"]}")%>
  <%end%>
</div>
