<div class="row">
  <div class="large-2 columns">
    <% if @requesters != nil %>
      <% @requesters.each do |requester| %>
        <img src = "<%= requester.profile_photo%>" height= "200px" width= "200px"><p class = "content"><%= requester.first_name %></p>
  </div>
  <% requester.requests.each do |request| %>
    <% if request.responses != [] && request.responses[0]["responder_id"] == @user.id%>
        <div class="large-10 columns">

        <img src = "<%= request.photo%>" width = "300px" height= "300px" id = "review-dog-photo"><p class = "content"><%= link_to "#{request.dog_name}", new_profile_user_review_path(requester, :reviewable_type=>'requester', :request_id => "#{request.id}")%></p>
        </div>
      <%end%>
    <%end%>
    <%end%>
  </div>
  <%end%>

<% if @responders = nil %>
<% @responders.each do |responder|%>
<div class="row">
<div class="large-2 columns small-3">
<img src = "<%= responder.profile_photo%>" width = "200px" height = "200px">
</div>
<div class="large-10 columns"></div>
 <p class = "content"><%= link_to "#{responder.first_name}", new_profile_user_review_path(responder,:reviewable_type=>'responder', :request_id => "#{responder.responses[0]["request_id"]}")%></p>
</div>
<%end%>
<%end%>

