<%@reviews.each do |review| %>
  <div class = "row">
  <div class = "large-12 columns">
  <p class = "list"><img src = "<%=review.reviewable.profile_photo%>" width = "80px" height = "80px" > <%=review.reviewable.first_name %> & <%= review.request.dog_name%> <img src = "<%=review.request.photo%>" width = "80px" height = "80px"></p>
  </div>
  </div>
  <div class = "row">
  <div class - "large-12 columns">
  <%=link_to "Edit Review", edit_profile_user_review_path(@user,review)%>
  <%=link_to "Delete Review",profile_user_review_path(@user,review), method: :delete, data: {confirm: "Are you sure"}  %>
  </div>
  </div>
  <%end%>

<%= link_to 'Back', profile_user_path(current_user.id)%>
