  <div class="row">
  <div class="large-6 columns"><img src = "<%=@user.profile_photo%>" width = "400px" height = "400px"></div>
  <div class="large-6 columns">
  <div class = "row">
  <div class="large-6 columns"><h1 class = "content"><%= @user.first_name %></h1></div>
  </div>
  <div class = "row">
  <div class="large-6 columns"></div>
  <p class = "content"><% if @user.profile != nil %>
  <%= @user.profile %></p>
  <%else%>
    <p class = "content"> User hasn't supplied us with any information about themselves </p>
  <%end%>
  </div>
  <div class = "row">
  <div class = "large-6 columns"></div>

  <% if @user.requester_rating != nil %>
  <h5> General Review Score:
  <% @user.requester_rating.times do%>
  <i class="fi-heart"></i>
  <%end%>
  </h5>
  <%end%>

<% if @user.responder_rating != nil %>
  <h5> Review Score for Babysitting Puppies:
<% @user.responder_rating.times do%>
  <i class="fi-star"></i>
  <%end%>
  </h5>
<%end%>
  </div>
  </div>
  </div>
  </div>
</br>
</br>

<%@reviews.each do |review| %>
  <div class = "row">
    <div class = "large-4 columns">
      <img src="<%=review.reviewer.profile_photo%>" height = "200px" width = "200px">
      <p class = "reviews"><%= link_to review.reviewer.first_name, user_path(review.reviewer.id)%></p></div>
  <div class = "large-8 columns">
  <h3 class = "reviews"><%=review.title%></h3>
  <p><%review.rating.times do%>
      <i class="fi-star"></i>
  <%end%></p>
  <p class = "reviews"><%= review.body %></p>
  <%if current_user.is_admin?%>
  <%=link_to "Delete Review", user_review_path(@user,review), method: :delete, data: {confirm: "Are you sure"}  %>
  <%end%>
  </div>
</div>
<%end%>
<%= link_to 'Back', profile_user_path(current_user.id)%>

