  <div class="row">
  <div class="large-6 columns"><img src = "<%=@user.profile_photo%>" width = "400px" height = "400px"></div>
  <div class="large-6 columns">
  <div class = "row">
  <div class="large-6 columns"><%= @user.first_name %></div>
  </div>
  <div class = "row">
  <div class="large-6 columns"></div>
  <h1><% if @user.profile != nil %>
  <%= @user.profile %></h1>
  <%else%>
    <p> User hasn't supplied us with any information about themselves </p>
  <%end%>
  </div>
  <div class = "row">
  <div class = "large-6 columns"></div>
  <% if @user.requester_rating != nil %>
  <h5> General Review Score:<%= @user.requester_rating %></h5>
  <%end%>
<% if @user.responder_rating != nil %>
  <h5> Review Score for Babysitting Puppies:<%= @user.responder_rating %></h5>
<%end%>
  </div>
  </div>
  </div>
  </div>


<h1>Reviews for <%=@user.first_name%></h1>
<%@reviews.each do |review| %>
  <div class = "row">
    <div class = "large-4 columns">
      <img src="<%=review.reviewer.profile_photo%>" height = "200px" width = "200px">
      <p><%= link_to review.reviewer.first_name, user_path(review.reviewer.id)%></p></div>
  <div class = "large-8 columns">
  <p><%=review.title%></p>
  <p><%=review.rating%> Stars</p>
  <p><%= review.body %></p>
  </div>
</div>
<%end%>

