<h1> Tell us about your Request </h1>
<%= simple_form_for @request do |f| %>

 <% if @request.errors.any? %>
    <p><%= "#{@request.errors.count} error(s) prevented your request from being saved:"%></p>
    <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<%= f.input :dog_name %>

<%= f.label :photo %>
<%= f.file_field :photo %>

<%= f.input :start_time%>

<%= f.input :end_time%>

<%= f.input :pay %>

<%=f.input :hourly, as: :boolean, checked_value:true, unchecked_value: false %>
<%=f.input :daily, as: :boolean, checked_value:true, unchecked_value: false %>
<%=f.input :weekly, as: :boolean, checked_value:true, unchecked_value: false %>

<%= f.input :address %>

<%= f.input :title %>

<%= f.input :body %>

<%= f.button :submit%>
<% end %>

<%= link_to 'Back', root_url %>
</div>
