<div class = "ad">
<h1><%= @request.dog_name %></h1>
<img src = "<%= @request.photo%>">
<h5>Start Time: <%=@request.start_time%> - End Time: <%= @request.end_time%></h5>
<% if current_user && current_user.id == @request.requester_id %>
  <%= link_to 'Edit',edit_request_path(@request)%>
<%= link_to 'Delete', request_path(@request), method: :delete, data: {confirm: 'Are you sure?'}%>
<%end%>
<h5> Address: <%=@request.address%>- Pay <%=@request.pay%></h5>
<h3><%= @request.title%></h3>
<h4><%= @request.body%></h4>
</div>

<%= form_for [@request,@comment] do |f| %>
<h2><%= f.label :questions?%></h2>
<%= f.text_area :body %>
<%= f.submit %>
<%end%>

<h2>Comments </h2>
<ul>
<%@comments.each do |comment| %>
  <li><img src= "<%= comment.user.profile_photo%>" width = "70px" height = "70px"><%= comment.body%> </li>
  <%end%>
  </ul>
<%=link_to "Go Back", requests_path %>
