<h1>New Review</h1>
<%= form_for [@user,@review] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_field :body%>

  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.submit %>
<%end%>
